$logo-height: calc(30px + 3vw);
$header-vertical-padding: 2rem;
$header-height: calc(#{$logo-height} + (#{$header-vertical-padding} * 2));
$section-padding: 5rem;

.section {
    background-color: #f6f6f6;

    p {
        font-size: 1rem;
    }

    &.section-padding {
        padding-top: $section-padding;
        padding-bottom: $section-padding;
    }

    .heading {
        text-align: center;
    }

    input {
        font-size: 1rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}

footer.section {
    background: $black;
    color: white;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.header {
    background-color: #d2d2d2;
    padding: $header-vertical-padding 0 $header-vertical-padding 0;
}

.logo-img {
    height: $logo-height;
}

.background-1 {
    background: url(../images/background1.jpg);
    background-size: cover;
    min-height: calc(100vh - #{$header-height});
    background-position-x: center;

    p {
        font-size: 1.5rem;
        max-width: 600px;
        padding-bottom: 2rem;
    }

    .background-centered-content {
        min-height: calc(100vh - #{$header-height} - (#{$section-padding} * 2));
    }
}

.text-primary {
    color: $primary !important;
}

.btn {
    border-radius: 0;
    font-weight: lighter;

    &.btn-primary {
        background-color: $primary;
        border: none;
    }

    &.btn-primary:hover {
        background-color: $secondary;
    }

    &.btn-secondary {
        background-color: $secondary;
        border: none;
    }

    &.btn-link {
        color: $secondary;
    }

    &.btn-lg {
        height: 70px;
        font-size: 1.2rem;
        padding-left: 2rem;
        padding-right: 2rem;
    }
}

.max-width-md {
    max-width: 768px;
}

.mb-5,
.my-5 {
    margin-bottom: 3rem !important;
}


.auth-wrapper .lavalite-bg {
    height: calc(100vh - #{$header-height});
}
